
body {
    margin: 0;
    background-color: aliceblue;
    font-family: 'Lato', sans-serif;
}

header {
    background: lightskyblue;
    clear: both;
    color: white;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

#logo {
    float: left;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 32px;
    font-size: 15px;
}

.container {
    width: 900px;
    margin: auto;
}

p {
    line-height: 150%;
}

#bioimage {
    float: left;
    padding-right: 10px;
}

#about-me, #portfolio, #contactme {
    border-style: groove;
    padding: 0 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;;
}

input[type="text"] {
    width: 200px;
}

textarea {
    resize: none
}

button {
    margin: 10px 0;
    width: 100px;
    height: 25px;
}

button:hover {
    background-color: lightblue;
}

.container2 {
    text-align: center;
}

.box {
    position: relative;
    display: inline-block;
    padding: 10px 30px 20px 30px;
}

.banner {
    position: absolute;
    text-align: center;
    color: aliceblue;
    font-size: 16px;
    padding: 5px 0;
    margin-top: 170px;
    width: 200px;
    height: 20px;
    background-color: black;
    vertical-align: middle;
}

.link a {
    text-decoration: none;
}
.link a:hover {
    color: lightslategray;;
}
.link a:visited {
    text-decoration: none;

}