
body {
    margin: 0;
    background-color: aliceblue;
    font-family: 'Roboto Slab', serif;
}

header {
    background: lightskyblue;
    clear: both;
    color: white;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

#logo {
    float: left;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 32px;
    font-size: 15px;
}

.container {
width: 900px;
margin: auto;
}

p {
    line-height: 150%;
}

#bioimage {
    float: left;
    padding-right: 10px;
}

#about-me, #portfolio, #contactme {
    border-style: groove;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;;
}
input[type="text"] {
    width: 200px;
}

textarea {
    resize: none
}

input[type=submit] {
    margin-bottom: 10px;
}
input[type=submit]:hover {
    background-color: lightblue;
}
